NODE_ENV=test
DB_DIALECT=postgres
POSTGRES_HOST=localhost
POSTGRES_DB=wchats_test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_PORT=5432
POSTGRES_POOL_MIN=0
POSTGRES_POOL_MAX=5
POSTGRES_POOL_ACQUIRE=10000
JWT_SECRET=test-jwt-secret
JWT_REFRESH_SECRET=test-refresh-secret
FRONTEND_URL=http://localhost:8080
